/* fonts family */
@font-face {
  font-family: 'ProximaNova_bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova_Reg';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'ProximaNova_Reg';
}

.main {
  padding: 2rem 0;
  background: #fff url(../photos/main-bg.jpg) center center no-repeat;
  background-size: cover;
}

.main-title h1 {
  font-size: 2.7rem;
  text-transform: uppercase;
  font-weight: 650;
  font-family: 'ProximaNova_bold';
}

.main-subtitle {
  font-size: 1.6rem;
}

.main-form {
  background-color: #fff;
  padding: 2.7rem;
  text-align: center;
  margin-top: 6.6rem;
}

.main-form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  padding: 0.5rem;
  font-size: 1rem;
}

.main-form-header {
  font-size: 1.2rem;
}

.main-form-header strong {
  font-size: 1.3rem;
}

.main-form-input {
  display: block;
  border: 1px solid #ddd;
  width: 100%;
  padding-left: 8px;
  padding-top: 8px;
  height: 2.8rem;
  margin: 2rem 0;
}

.main-form-message {
  display: block;
  margin-top: 1rem;
  font-size: 10px;
}

.main-form-btn {
  width: 100%;
  font-size: 14px;
  height: 3.3rem;
}

.button {
  color: #fff;
  padding: 8px 15px;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: #fcb303;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.button:hover {
  cursor: pointer;
  background-color: #e3a103;
}

.wrap {
  display: table;
  width: 100%;
  height: 70px;
}

.wrap-block {
  display: table-cell;
  vertical-align: middle;
}

.link {
  color: #1a1820;
  font-size: 1.3rem;
  height: 70px;
  line-height: 70px;
  font-family: 'ProximaNova_bold';
}

.main-title {
  margin-top: 6rem;
}

.main-title span {
  display: inline-block;
  padding: 1.6rem 2.8rem;
  background-color: #64b814;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}

.main-title span strong {
  font-size: 24px;
}

.bug-rzomba {
  text-transform: uppercase;
  display: block;
  font-size: 22px;
  margin-top: 1.5rem;
}

.features {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.features h1 {
  text-align: center;
  margin-top: 5rem;
  font-family: 'ProximaNova_bold';
}

.features-block {
  text-align: center;
  outline: none;
  margin-top: 5rem;
}

.features-block h3 {
  margin: 3rem 0 2rem;
  font-family: 'ProximaNova_bold';
}

.features-block a {
  color: #64b814;
}

.features-text {
  width: 76%;
  margin: 0 auto;
  font-size: 15px;
  line-height: 1.3;
  padding: 0 10px;
}

.features-img {
  height: 6rem;
  margin-bottom: 4%;
}

.features-img img {
  text-align: center;
  margin: 0 auto;
}

.slick-active {
  outline: none;
}

.prices {
  background: url(../photos/prices-bg.jpg);
  padding: 50px 10px;
}

.prices .container {
  position: relative;
}

.prices-button {
  position: absolute;
  right: 0;
  top: 1rem;
}

.prices-button button {
  padding: 20px 40px;
  font-family: 'ProximaNova_bold';
}

.prices-block {
  background-color: #fff;
  min-height: 500px;
  text-align: center;
  padding: 20px 22px;
}

.prices-block h4 {
  font-size: 18px;
  font-weight: 700;
  margin: 20px  0;
}

.prices-block p {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 19px;
}

.prices-block img {
  margin-bottom: 20px;
  max-width: 280px;
}

.prices-block span {
  font-size: 25px;
  font-family: 'ProximaNova_bold';
}

.prices-block button {
  width: 60%;
  padding: 1.5rem;
}

.prices-block-list {
  list-style: none;
  min-height: 10rem;
  padding: 0;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 500;
}

.prices-block-list li:before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../photos/check.svg) no-repeat center;
  background-size: 70%;
  vertical-align: middle;
  margin-right: 1rem;
}

.prices .section-header {
  text-align: center;
  color: #fff;
  margin-bottom: 3rem;
}

.prices .section-header h2 {
  font-family: 'ProximaNova_bold';
  font-size: 32px;
  margin-bottom: 2rem;
}

.scheme {
  background: url(../photos/scheme-bg.png) bottom -10rem right -15rem no-repeat;
  background-size: 62%;
}

.scheme-section-header {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.scheme-section-header h2 {
  margin-bottom: 3rem;
  font-family: 'ProximaNova_bold';
  font-size: 2.8rem;
}

.scheme-section-header span {
  font-size: 1.9rem;
}

.scheme-form {
  margin-bottom: 6rem;
}

.scheme-form h2 {
  font-family: 'ProximaNova_bold';
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-size: 1.7rem;
}

.scheme-form span {
  font-size: 1.1rem;
  font-weight: 200;
}

.scheme-form strong {
  font-family: 'ProximaNova_bold';
}

button:focus, a:focus, input:focus, textarea:focus {
  outline: none;
}

.all-inclusive media {
  min-height: 9rem;
}

.all-inclusive media h4 {
  font-size: 1.6rem;
}

.all-inclusive media p {
  font-size: 1.1rem;
}

.media-body {
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  margin-bottom: 3rem;
}

.media-body p {
  font-size: 1.1rem;
}

.media-body h4 {
  font-size: 1.7rem;
}

.all-section-header {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.all-section-header h2 {
  margin-bottom: 2.5rem;
  font-family: 'ProximaNova_bold';
  font-size: 2.6rem;
}

.all-section-header p {
  font-size: 1.6rem;
}

.circle {
  display: inline-block;
  background-color: #64b814;
  background-color-vertical-align: top;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.circle-border {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  padding: 0.3rem;
  border: 2px solid #64b814;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  color: #fff;
}

.feedback {
  background: url(../photos/feedback/feedback-bg.png);
  padding-bottom: 5rem;
  padding-top: 3rem;
}

.feedback-text {
  position: relative;
  border: 2px solid #64b814;
  padding: 8px 10px 10px;
  margin-top: 20px;
  font-size: 16px;
  margin-top: -1.5rem;
}

.feedback-text:before {
  content: '';
  position: absolute;
  display: block;
  top: -21.5px;
  left: 40px;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border: 2px solid #64b814;
  border-top-right-radius: 100px;
  border-bottom: none;
}

.feedback-slider-arrow-prev {
  left: -4rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: #64b814;
  border: none;
}

.feedback-slider-arrow-next {
  right: -4rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: #64b814;
  border: none;
}

.feedback-slider {
  background: #fff;
  padding: 3rem;
}

.feedback-form {
  position: relative;
  margin: 35px auto 0;
  padding: 50px 80px;
  text-align: center;
  max-width: 700px;
  z-index: 2;
  background-color: #fff;
}

.feedback-form h4 {
  font-weight: 600;
  font-size: 19px;
}

.feedback-form button {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 50px;
  margin-top: 15px;
}

.feedback-form-label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  padding: 10px;
  font-size: 13px;
}

.feedback-form input {
  display: inline-block;
  width: 100%;
  height: 48px;
  margin: 15px 0;
}

.fotorama {
  margin: 5px;
}

.materials {
  background: url(../photos/materials/materials-bg.jpg);
}

.materials-section-header {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.materials-section-header h2 {
  margin-bottom: 2.5rem;
  font-family: 'ProximaNova_bold';
  font-size: 2.6rem;
}

.materials-section-header span {
  font-size: 1.6rem;
}

.materials-prices {
  margin-bottom: 6rem;
  margin-top: 5rem;
  text-align: center;
}

.materials-prices h2 {
  font-family: 'ProximaNova_bold';
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-size: 1.7rem;
}

.materials-prices p {
  font-size: 1.1rem;
  font-weight: 200;
}

.materials-prices strong {
  font-family: 'ProximaNova_bold';
}

.baba {
  position: relative;
}

.baba-section-header {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.baba-section-header h2 {
  font-family: 'ProximaNova_bold';
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-size: 2.7rem;
  margin-bottom: 5rem;
}

.baba-first {
  border: 5px solid #e8e8e8;
  padding: 2rem 0 0 3rem;
  min-height: 380px;
}

.baba-first h2 {
  color: #8f8f8f;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.baba-first ul {
  list-style: none;
  padding-left: 0;
}

.baba-first ul li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 2rem;
  line-height: 2.1;
}

.baba-first ul li:before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../photos/baba/problem.svg) no-repeat center;
  background-size: 70%;
  vertical-align: middle;
  margin-right: 1rem;
  position: absolute;
  left: 0;
}

.baba-second {
  border: 5px solid #64b814;
  padding: 2rem 1rem 1rem 3rem;
  min-height: 380px;
}

.baba-second h2 {
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.baba-second ul {
  list-style: none;
  padding-left: 0;
}

.baba-second ul li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 1rem;
}

.baba-second ul li:before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../photos/baba/norms.svg) no-repeat center;
  background-size: 70%;
  vertical-align: middle;
  margin-right: 1rem;
  position: absolute;
  left: 0;
}

.baba-img {
  position: absolute;
  top: 3rem;
  left: 50%;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  z-index: 2;
}

.feedback .section-header h2 {
  text-align: center;
  margin-bottom: 2.5rem;
  font-family: 'ProximaNova_bold';
  font-size: 2.6rem;
}

.ourwork {
  margin-top: 10rem;
  padding: 9rem 0;
  background: url(../photos/bg-watch.jpg) no-repeat center;
}

.ourwork-section-header h1 {
  font-size: 2.7rem;
  text-transform: uppercase;
  font-weight: 650;
  font-family: 'ProximaNova_bold';
}

.ourwork-section-header p {
  font-size: 22px;
  margin: 2rem 0 2rem 0;
}

.ourwork-form {
  margin-top: 0;
}

.ourwork .form-about-work {
  margin-top: 0;
}

.bonus {
  padding-top: 3rem;
  background: url(../photos/prices-bg.jpg);
  color: #fff;
  padding-bottom: 5rem;
}

.bonus-section-header {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.bonus-section-header h1 {
  font-family: 'ProximaNova_bold';
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.bonus-section-header p {
  font-size: 1.3rem;
}

.bonus-images {
  text-align: center;
}

.bonus-images h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 1.5rem;
  font-family: 'ProximaNova_bold';
}

.bonus-images button {
  width: 10rem;
  margin-top: 1rem;
  font-size: 1.1rem;
}

.questions-section-header {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.questions-section-header h1 {
  font-family: 'ProximaNova_bold';
  margin-bottom: 1.5rem;
  font-size: 2.8rem;
}

.questions-answer {
  margin-bottom: 2rem;
}

.questions-answer h2 {
  margin: 1rem;
  font-size: 21px;
  font-family: 'ProximaNova_bold';
}

.questions-answer p {
  margin: 1rem;
  font-size: 17px;
}

.questions-last {
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.questions-last h1 {
  font-family: 'ProximaNova_bold';
  margin-bottom: 0.5rem;
}

.questions-last p {
  font-size: 18px;
}

.questions-last button {
  width: 210px;
  height: 65px;
}

.contacts {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-bottom: 5rem;
  background: url(../photos/materials/materials-bg.jpg);
}

.contacts-section-header {
  padding-top: 2rem;
  margin-top: 70px;
}

.contacts-section-header h1 {
  font-family: 'ProximaNova_bold';
  margin-bottom: 0.5rem;
  font-size: 35px;
  margin-bottom: 2rem;
}

.contacts-section-header p {
  font-size: 20px;
}

.contacts-form textarea {
  resize: none;
  display: block;
  border: 1px solid #ddd;
  width: 100%;
  padding-left: 8px;
  padding-top: 15px;
  height: 5rem;
  margin: 2rem 0;
}

.footer {
  padding: 2rem;
}

.footer h1 {
  font-size: 20px;
  font-family: 'ProximaNova_bold';
}

.footer p {
  text-align: center;
}

.footer img {
  margin-top: -0.7rem;
}

.popup {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.popup-content {
  position: fixed;
  top: 12%;
  left: 50%;
  width: 23.5rem;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  padding: 1.3rem 2.6rem 2rem;
}

.popup-content p {
  font-size: 15px;
}

.popup-close {
  position: absolute;
  top: -1rem;
  right: -1.3rem;
  width: 1.3rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: #000;
}

.popup-header {
  font-size: 2rem;
  font-weight: 600;
  margin: 1.3rem 0 0.7rem;
}

.popup-form {
  margin-top: 2.3rem;
}

.popup-form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  padding: 0.3rem;
  font-size: 1rem;
}

.popup-form-textarea {
  display: block;
  margin: 1.3rem 0;
  width: 100%;
  border: 1px solid #ddd;
  padding-left: 8px;
  padding-top: 8px;
  font-size: 14px;
  resize: none;
}

.popup-form button {
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 1.3rem 2.7rem;
}

.prev, .next {
  top: 22%;
  position: absolute;
  z-index: 10;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 2rem;
  height: 2rem;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  border: none;
}

.prev:hover, .next:hover {
  cursor: pointer;
}

.prev {
  left: 3%;
  background: url(../photos/left-arrow.svg) center no-repeat;
  background-size: 80%;
}

.next {
  right: 3%;
  background: url(../photos/right-arrow.svg) center no-repeat;
  background-size: 80%;
}

@media (max-width: 1025px) {
  .prices-block img {
    width: 90%;
  }
  .prices-button {
    position: static;
    margin-top: 2rem;
    text-align: center;
  }
}

@media (max-width: 991px) {
  .main-content {
    text-align: center;
  }
  .main-form {
    margin-top: 3rem;
  }
  .main-title {
    text-align: center;
  }
  .prices-block {
    margin-bottom: 3rem;
  }
  .scheme-section-header {
    margin-bottom: 3rem;
  }
  .baba-img {
    display: none;
  }
  .baba-first {
    margin-bottom: 3rem;
  }
  .baba-first ul li {
    margin-bottom: 2.1rem;
  }
  .baba-second ul li {
    margin-bottom: 2.1rem;
  }
  .bonus-images {
    margin-bottom: 3rem;
  }
  .contacts-form {
    margin-top: 7rem;
  }
  .feedback-slider-arrow-prev, .feedback-slider-arrow-next {
    margin-top: 10rem;
    height: 3rem;
    width: 3rem;
  }
  .feedback-slider-arrow-next {
    right: 5;
  }
  .feedback-slider-arrow-prev {
    left: 5;
  }
}

@media (max-width: 767px) {
  .xergleba {
    text-align: right;
  }
  .main-form {
    margin-top: 1rem;
  }
  .prices-block {
    margin-bottom: 3rem;
  }
  .scheme-form {
    text-align: center;
    margin-top: 3rem;
  }
  .footer {
    text-align: center;
  }
  .footer img {
    margin-bottom: 3rem;
  }
  .footer p {
    margin-bottom: 3rem;
  }
  .contacts {
    text-align: center;
  }
  .contacts-section-header {
    text-align: center;
  }
  .bonus button {
    margin-bottom: 3rem;
  }
  .ourwork {
    margin-top: 3rem;
    background: url(../photos/bg-watch.jpg) no-repeat center;
    background-size: 2500px;
  }
  -section-header h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 650;
    font-family: 'ProximaNova_bold';
  }
  -section-header p {
    font-size: 22px;
    margin: 1rem 0 2rem 0;
  }
  -form {
    margin-top: 0;
  }
  .form-about-work {
    margin-top: 0;
  }
  .feedback-slider-arrow-prev, .feedback-slider-arrow-next {
    margin-top: 10rem;
    height: 3rem;
    width: 3rem;
  }
  .feedback-slider-arrow-next {
    right: 5;
  }
  .feedback-slider-arrow-prev {
    left: 5;
  }
}

@media (max-width: 400px) {
  .main-title h1 {
    font-size: 1.8rem;
  }
  .wrap {
    text-align: center;
  }
  .logo {
    text-align: center;
  }
  .link {
    text-align: center;
  }
  .feedback-slider-arrow-prev, .feedback-slider-arrow-next {
    margin-top: 26rem;
    height: 2rem;
    width: 2rem;
  }
  .feedback-slider-arrow-next {
    right: 0;
  }
  .feedback-slider-arrow-prev {
    left: 0;
  }
}

@media (max-width: 570px) {
  .main-title h1 {
    font-size: 1.8rem;
  }
  .wrap {
    text-align: center;
  }
  .logo {
    text-align: center;
  }
  .link {
    text-align: center;
  }
  .main-content {
    margin-top: 2rem;
  }
  .xergleba {
    text-align: center;
  }
  .contacts {
    margin-top: 0rem;
  }
  .contacts-section-header {
    padding-top: 0rem;
    margin-top: 0px;
  }
  .feedback-slider-arrow-prev, .feedback-slider-arrow-next {
    margin-top: 15rem;
    height: 2rem;
    width: 2rem;
  }
  .feedback-slider-arrow-next {
    right: 0;
  }
  .feedback-slider-arrow-prev {
    left: 0;
  }
}

@media (max-width: 330px) {
  .main-title h1 {
    font-size: 1.3rem;
  }
  .main-content {
    margin-top: 2rem;
  }
  .xergleba {
    text-align: center;
  }
  body {
    max-width: 330px;
  }
}

@media (max-width: 2560px) {
  .price {
    font-size: 1.2rem;
  }
}

@media (max-width: 1825px) {
  .features-text {
    width: 87%;
  }
}

@media (max-width: 1595px) {
  .features-text {
    width: 95%;
  }
}

@media (max-width: 594px) {
  .section-header {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .prev, .next {
    height: 3rem;
    width: 3rem;
  }
  .section-header {
    font-size: 3.2rem;
  }
  .features-text {
    width: 80%;
  }
}

@media (max-width: 434px) {
  .features {
    width: 100%;
  }
  .features-text {
    width: 80%;
  }
  .baba-img {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */