// Цвета //
$btn-color: #fcb303
$icons-color: #64b814
$text: #1a1820
$danger: #ff0000
$bg-light: #f5f5f5
$light: #fff

/* fonts family */
@font-face 
  font-family: 'ProximaNova_bold'
  src: url('../fonts/ProximaNova-Bold.eot')
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg')
  font-weight: bold
  font-style: normal

@font-face 
  font-family: 'ProximaNova_Reg'
  src: url('../fonts/ProximaNova-Regular.eot')
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg')
  font-weight: normal
  font-style: normal

// Базовые настройки для всего сайта  // 
html
    font-size: 15px 
    box-sizing: border-box
body
    font-family: 'ProximaNova_Reg'
//Sections and <main> //
.main
    padding: 2rem 0 
    background: #fff url(../photos/main-bg.jpg) center center no-repeat
    background-size: cover
    &-title
        h1 
            font-size: 2.7rem  
            text-transform: uppercase
            font-weight: 650
            font-family: 'ProximaNova_bold'
    &-subtitle
        font-size: 1.6rem
    &-form
        background-color: $light
        padding: 2.7rem
        text-align: center
        margin-top: 6.6rem
        label
            position: absolute
            left: 50%
            transform: translateX(-50%) translateY(-50%)
            background-color: $light
            padding: 0.5rem
            font-size: 1rem
    &-form-header
        font-size: 1.2rem
        strong
            font-size: 1.3rem
    &-form-input
        display: block
        border: 1px solid #ddd
        width: 100%
        padding-left: 8px
        padding-top: 8px
        height: 2.8rem
        margin: 2rem 0
    &-form-message
        display: block
        margin-top: 1rem
        font-size: 10px
    &-form-btn
        width: 100%
        font-size: 14px
        height: 3.3rem  

       

// Main // 
.button
    color: #fff
    padding: 8px 15px
    border-radius: 8px
    text-transform: uppercase
    background-color: $btn-color
    border: none
    transition: all 0.5s
    &:hover
        cursor: pointer
        background-color: darken($btn-color, 5%)
    
.wrap
    display: table
    width: 100%
    height: 70px
    &-block
        display: table-cell
        vertical-align: middle

.link
    color: $text
    font-size: 1.3rem
    height: 70px
    line-height: 70px
    font-family: 'ProximaNova_bold'

.main-title
    margin-top: 6rem
    span
        display: inline-block
        padding: 1.6rem 2.8rem
        background-color: $icons-color
        font-size: 18px
        color: $light
        text-align: center
        line-height: 1.5
        strong
            font-size: 24px
.bug-rzomba
    text-transform: uppercase
    display: block
    font-size: 22px
    margin-top: 1.5rem
// Начало Блока с приумеществами //
.features
    width: 80%
    margin: 0 auto
    margin-bottom: 5rem
    h1
        text-align: center
        margin-top: 5rem
        font-family: 'ProximaNova_bold'
    &-block
        text-align: center
        outline: none
        margin-top: 5rem
        h3
            margin: 3rem 0 2rem
            font-family: 'ProximaNova_bold'
        a 
            color: $icons-color
    &-text
        width: 76%
        margin: 0 auto
        font-size: 15px
        line-height: 1.3
        padding: 0 10px
    &-img
        height: 6rem
        margin-bottom: 4%
        img
            text-align: center
            margin: 0 auto 
.slick-active
    outline: none 

.prices
    background: url(../photos/prices-bg.jpg)
    padding: 50px 10px
    .container
        position: relative
    &-button 
        position: absolute
        right: 0
        top: 1rem
        button
            padding: 20px 40px  
            font-family: 'ProximaNova_bold'  
    &-block
        background-color: $light
        min-height: 500px
        text-align: center
        padding: 20px 22px
        h4 
            font-size: 18px
            font-weight: 700
            margin: 20px  0
        p 
            margin-top: 1rem
            font-weight: 700
            font-size: 19px
        img
            margin-bottom: 20px
            max-width: 280px
        span
            font-size: 25px
            font-family: 'ProximaNova_bold'
        button
            width: 60%
            padding: 1.5rem
        &-list
            list-style: none 
            min-height: 10rem
            padding: 0
            font-size: 15px
            line-height: 1.6
            font-weight: 500
            li
                &:before
                    content: ''
                    display: inline-block
                    width: 24px
                    height: 24px
                    background: url(../photos/check.svg) no-repeat center
                    background-size: 70%
                    vertical-align: middle
                    margin-right: 1rem
    .section-header
        text-align: center
        color: $light
        margin-bottom: 3rem
        h2
            font-family: 'ProximaNova_bold'
            font-size: 32px
            margin-bottom: 2rem

.scheme
    background: url(../photos/scheme-bg.png) bottom -10rem right -15rem no-repeat
    background-size: 62%
    &-section-header
        text-align: center
        margin-top: 5rem
        margin-bottom: 2rem
        h2
            margin-bottom: 3rem
            font-family: 'ProximaNova_bold'
            font-size: 2.8rem
        span
            font-size: 1.9rem
            
    &-form
        margin-bottom: 6rem
        h2 
            font-family: 'ProximaNova_bold'
            margin-bottom: 1.5rem
            margin-top: 1.5rem
            font-size: 1.7rem
        span
            font-size: 1.1rem
            font-weight: 200
        strong
            font-family: 'ProximaNova_bold'
    
button, a, input, textarea
    &:focus
        outline: none

.all-inclusive 
	media 
		min-height: 9rem
		h4 
			font-size: 1.6rem
		p 
			font-size: 1.1rem
.media-body 
    margin-top: 0.5rem
    margin-left: 0.3rem
    margin-bottom: 3rem
    p
        font-size: 1.1rem
    h4 
        font-size: 1.7rem

.all-section-header
    text-align: center
    margin-top: 5rem
    margin-bottom: 5rem
    h2
        margin-bottom: 2.5rem
        font-family: 'ProximaNova_bold'
        font-size: 2.6rem
    p
        font-size: 1.6rem
	
.circle 
	display: inline-block
	background-color: $icons-color 
    vertical-align: top
	width: 100%
	height: 100%
	border-radius: 50%
	&-border 
		display: inline-block
		width: 3rem
		height: 3rem
		padding: 0.3rem
		border: 2px solid $icons-color
		border-radius: 50%
		text-align: center
		line-height: 2rem
		color: $light
.feedback   
    background: url(../photos/feedback/feedback-bg.png)
    padding-bottom: 5rem
    padding-top: 3rem
    &-text
        position: relative
        border: 2px solid $icons-color
        padding: 8px 10px 10px
        margin-top: 20px
        font-size: 16px
        margin-top: -1.5rem
        mr10px
        &:before
            content: ''
            position: absolute
            display: block
            top: -21.5px
            left: 40px
            width: 22px
            height: 22px
            background-color: $light
            border: 2px solid $icons-color
            border-top-right-radius: 100px 
            border-bottom: none
    &-slider-arrow-prev
        left: -4rem 
        position: absolute 
        top: 50% 
        transform: translateY(-50%) 
        width: 4rem 
        height: 5rem 
        background-color: $icons-color 
        border: none 
    &-slider-arrow-next 
        right: -4rem 
        position: absolute 
        top: 50% 
        transform: translateY(-50%) 
        width: 4rem 
        height: 5rem 
        background-color: $icons-color 
        border: none 
    &-slider
        background: #fff 
        padding: 3rem
    &-form
        position: relative
        margin: 35px auto 0
        padding: 50px 80px
        text-align: center
        max-width: 700px
        z-index: 2
        background-color: $light
        h4 
            font-weight: 600
            font-size: 19px
        button 
            font-size: 14px
            font-weight: 600
            padding: 15px 50px 
            margin-top: 15px
        &-label
            position: absolute
            left: 50%
            transform: translateX(-50%)
            background-color: $light
            padding: 10px
            font-size: 13px
        input
            display: inline-block
            width: 100%
            height: 48px
            margin: 15px 0

            
.fotorama
    margin: 5px
.materials
    background: url(../photos/materials/materials-bg.jpg)
    &-section-header
        text-align: center
        margin-top: 5rem
        margin-bottom: 2rem
        h2
            margin-bottom: 2.5rem
            font-family: 'ProximaNova_bold'
            font-size: 2.6rem
        span
            font-size: 1.6rem
    &-prices
        margin-bottom: 6rem
        margin-top: 5rem
        text-align: center
        h2 
            font-family: 'ProximaNova_bold'
            margin-bottom: 1.5rem
            margin-top: 1.5rem
            font-size: 1.7rem
        p
            font-size: 1.1rem
            font-weight: 200
        strong
            font-family: 'ProximaNova_bold'

// baba // 
.baba
    position: relative
    &-section-header
        text-align: center
        margin-top: 5rem
        margin-bottom: 2rem
        h2 
            font-family: 'ProximaNova_bold'
            margin-bottom: 1.5rem
            margin-top: 1.5rem
            font-size: 2.7rem
            margin-bottom: 5rem
    &-first
        border: 5px solid darken(#f5f5f5, 5%)
        padding: 2rem 0 0 3rem      
        min-height: 380px  
        h2 
            color: darken(#f5f5f5, 40%)
            font-size: 1.8rem
            margin-bottom: 3rem
        ul 
            list-style: none
            padding-left: 0
            li
                position: relative
                padding-left: 35px
                margin-bottom: 2rem
                line-height: 2.1
                &:before
                    content: ''
                    display: inline-block
                    width: 24px
                    height: 24px
                    background: url(../photos/baba/problem.svg) no-repeat center
                    background-size: 70%
                    vertical-align: middle
                    margin-right: 1rem
                    position: absolute
                    left: 0
    
    &-second
        border: 5px solid $icons-color
        padding: 2rem 1rem 1rem 3rem
        min-height: 380px       
        h2 
            font-size: 1.8rem
            margin-bottom: 3rem
        ul 
            list-style: none
            padding-left: 0
            li
                position: relative
                padding-left: 35px
                margin-bottom: 1rem

                &:before
                    content: ''
                    display: inline-block
                    width: 24px
                    height: 24px
                    background: url(../photos/baba/norms.svg) no-repeat center
                    background-size: 70%
                    vertical-align: middle
                    margin-right: 1rem
                    position: absolute
                    left: 0
.baba-img
    position: absolute
    top: 3rem
    left: 50%
    transform: translateX(-60%)
    z-index: 2


.feedback
    .section-header
        h2  
            text-align: center
            margin-bottom: 2.5rem
            font-family: 'ProximaNova_bold'
            font-size: 2.6rem


.ourwork 
    margin-top: 10rem
    padding: 9rem 0 
    background: url(../photos/bg-watch.jpg) no-repeat center
    &-section-header
        h1
            font-size: 2.7rem  
            text-transform: uppercase
            font-weight: 650
            font-family: 'ProximaNova_bold'
        p 
            font-size: 22px
            margin: 2rem 0 2rem 0

    &-form 
        margin-top: 0
    .form-about-work
        margin-top: 0

.bonus  
    padding-top: 3rem
    background: url(../photos/prices-bg.jpg)
    color: $light
    padding-bottom: 5rem
    &-section-header
        text-align: center
        margin-top: 5rem
        margin-bottom: 5rem
        h1 
            font-family: 'ProximaNova_bold'
            margin-bottom: 1.5rem
            font-size: 3rem
        p 
            font-size: 1.3rem
    &-images
        text-align: center
        h2 
            text-align: center
            font-size: 20px
            margin-top: 1.5rem
            font-family: 'ProximaNova_bold'
        button 
            width: 10rem
            margin-top: 1rem
            font-size: 1.1rem

.questions
    &-section-header
        margin-top: 3rem
        margin-bottom: 3rem
        text-align: center
        h1
            font-family: 'ProximaNova_bold'
            margin-bottom: 1.5rem
            font-size: 2.8rem
    &-answer
        margin-bottom: 2rem
        h2
            margin: 1rem
            font-size: 21px
            font-family: 'ProximaNova_bold'
        p
            margin: 1rem
            font-size: 17px
    &-last
        text-align: center
        margin-bottom: 5rem
        margin-top: 5rem
        h1
            font-family: 'ProximaNova_bold'
            margin-bottom: 0.5rem
        p 
            font-size: 18px
        button
            width: 210px
            height: 65px

.contacts
    margin-top: 3rem
    margin-bottom: 3rem
    padding-bottom: 5rem
    background: url(../photos/materials/materials-bg.jpg)
    &-section-header
        padding-top: 2rem
        margin-top: 70px
        h1 
            font-family: 'ProximaNova_bold'
            margin-bottom: 0.5rem
            font-size: 35px
            margin-bottom: 2rem
        p 
            font-size: 20px
    &-form
        textarea 
            resize: none
            display: block
            border: 1px solid #ddd
            width: 100%
            padding-left: 8px
            padding-top: 15px
            height: 5rem
            margin: 2rem 0

.footer 
    padding: 2rem
    h1
        font-size: 20px
        font-family: 'ProximaNova_bold'
    p 
        text-align: center
    img
        margin-top: -0.7rem















.prev, .next
    top: 22%
    position: absolute
    z-index: 10
    transform: translateY(50%)
    width: 2rem
    height: 2rem
    border: none
    transition: all 0.3s
    outline: none
    border: none
    &:hover
        cursor: pointer,
        
.prev
    left: 3%
    background: url(../photos/left-arrow.svg) center no-repeat
    background-size: 80%
.next
    right: 3%
    background: url(../photos/right-arrow.svg) center no-repeat
    background-size: 80%     
// Адаптация под 6 устройств main'а //
@media ( max-width: 1025px)
    .prices-block
        img 
            width: 90%
    .prices-button
        position: static
        margin-top: 2rem
        text-align: center
        
    // извинился перед всем чеченским народом и все заработало глеб прости //

    .prices-bruh
        width: 107%
    .prices-bug
        margin-left: -7%
    .link
        font-size: 15px
@media ( max-width: 991px)
    .main
        &-content
             text-align: center
        &-form
            margin-top: 3rem
        &-title
            text-align: center
    .prices-block
        margin-bottom: 3rem
    .scheme-section-header
        margin-bottom: 3rem
    .baba
        &-img
            display: none
        &-first
            margin-bottom: 3rem
            ul 
                li 
                    margin-bottom: 2.1rem
        &-second
            ul
                li 
                    margin-bottom: 2.1rem 


@media ( max-width: 767px)
    .xergleba
        text-align: right
    .main-form
        margin-top: 1rem
    .prices-block
        margin-bottom: 3rem
    .scheme-form
        text-align: center
        margin-top: 3rem


@media ( max-width: 400px)
    .main-title
        h1
            font-size: 1.8rem
    .wrap
        text-align: center
    .logo
        text-align: center
    .link
        text-align: center
       

@media (max-width: 570px)
    .main-title
        h1
            font-size: 1.8rem
    .wrap
        text-align: center
    .logo
        text-align: center
    .link
        text-align: center
    .main-content 
        margin-top: 2rem
    .xergleba
        text-align: center    

@media ( max-width: 330px)
    .main-title
        h1
            font-size: 1.3rem
    .main-content 
        margin-top: 2rem
    .xergleba
        text-align: center    
@media ( max-width: 2560px)
    .price
        font-size: 1.2rem
@media ( max-width: 1825px)
    .features
        &-text
            width: 87%
@media ( max-width: 1595px)
    .features
        &-text
            width: 95%
@media ( max-width: 594px )
    .section-header
        font-size: 3rem
@media ( max-width: 575px )
    .prev, .next
        height: 3rem
        width: 3rem
    .section
        &-header
            font-size: 3.2rem
    .features
        &-text 
            width: 80%
@media ( max-width: 434px)
    .features
        width: 100%
        &-text
            width: 80%
    .baba
        &-img
            display: none
